.section1 {
    background-color: $white;
    padding-top: 34px;
    padding-bottom: 51px;
    padding-left: 16px;
    padding-right: 12px;
    font-family: $font-all;
    &__orange {
        color: $orange;
        font-size: 14px;
        @media (min-width: 768px) {
            font-size: 16px;
        }
    }
    &__h2 {
        font-size: 24px;
        padding-top: 5px;
        font-family: $font-title;
        @media (min-width: 768px) {
            font-size: 32px;
        }
    }
    &__p {
        color: $dark-gray;
        font-size: 18px;
        line-height: 1.5;
        padding-top: 11px;
        padding-bottom: 20px;
        @media (min-width: 768px) {
            font-size: 20px;
        }
    }
    &__button{
        font-size: 20px;
        background-color: $white;
        color: $orange;
        border: 3px solid $orange;
        border-radius: 20px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 30px;
        padding-right: 30px;
    }
    &__button:hover {
        transition: transform 1s ease;
        transform: translateY(50px) rotate(-180deg);
    }
}