.footer {
    background-color: #4a4a4a;
    padding-bottom: 36px;
        &__arrow {
            transform: translateY(-25px);
            margin: auto;
            width: 45px;
            &--img {
                background-color: #ffffff;
                padding: 12px;
                border-radius: 50%;
            }
        }
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
}