.header {
    background-image: url(/images/cover.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 45%;
    height: 100vh;
    color: #ffffff;
}
.menu {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f26002;
    padding: 13px;
}
.section {
    height: 100vh;
    padding-bottom: 38px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &__h1 {
        font-size: 30px;
        line-height:1.5;
    }
    &__p {
        font-size: 16px;
        padding-bottom: 15px;
    }
    &__scroll {
        background-color: #ffffff;
        border-radius: 50%;
        padding-top: 14.3px;
        padding-bottom: 12.2px;
        padding-left: 11px;
        padding-right: 11px;
        // 10.1px

    }
}