.header {
    background-image: url(/images/cover.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 45%;
    height: 100vh;
    color: $white;
    font-family: $font-all;
}
.menu {
    position: fixed;
    left: 0;
    top: 0;
    background-color: $orange;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 11px;
}
.section {
    height: 100vh;
    padding-bottom: 38px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &__h1 {
        font-size: 30px;
        line-height:2;
        font-family: $font-title;
        @media (min-width: 768px) {
            font-size: 75px;
        }
        @media (min-width: 1000px) {
            font-size: 100px;
        }
    }
    &__p {
        font-size: 16px;
        padding-bottom: 15px;
        @media (min-width: 768px) {
            font-size: 24px;
        }
    }
    &__scroll {
        background-color: $white;
        border-radius: 50%;
        padding-top: 17px;
        padding-bottom: 16px;
        padding-left: 12px;
        padding-right: 13px;
    }
}