<section id="section2" class="section2">
    <h3 class="section2__title3">Año nuevo, movimientos nuevos</h3>
    <div class="section2__boxes">
        <load src="/partials/articles.html" title="Entrenamientos" content="Sesiones de running y entrenamientos."/>
        <load src="/partials/articles.html" title="Cualquier nivel" content="Entrenamientos para cada nivel."/>
        <load src="/partials/articles.html" title="Exclusividad" content="Productos para miembros premium."/>
    </div>
    <button class="section2__orangebutton">Empezar ahora</button>
</section>