<section class="section2">
    <h3 class="section2__title3">Año nuevo, movimientos nuevos</h3>
    <div class="section2__boxes">
        <article class="section2__boxes--article1">
            <h4>Entrenamientos</h4>
            <p>Sesiones de running y entrenamientos.</p>
        </article>
        <article class="section2__boxes--article2">
            <h4>Cualquier nivel</h4>
            <p>Entrenamientos para cada nivel.</p>
        </article>
        <article class="section2__boxes--article3">
            <h4>Exclusividad</h4>
            <p>Productos para miembros premium.</p>
        </article>
    </div>
    <button class="section2__orangebutton">Empezar ahora</button>
</section>