<footer class="footer">
    <figure class="footer__arrow">
        <img class="footer__arrow--img" src="/images/ico-arrow.svg" alt="">
    </figure>
    <div class="footer__list">
        <nav class="footer__list--nav">
            <load src="/partials/footer-list-pag.html"/>
        </nav>
        <nav class="footer__list--nav">
            <load src="/partials/footer-list-rss.html"/>            
        </nav>
        <nav class="footer__list--nav">
           <load src="/partials/footer-list-copyright.html"/>
        </nav>
    </div>
</footer>